/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

blockquote, code {
  padding: 10px;
  border-radius:10px;
  margin: 10px;
  display: block;
}

blockquote {
  background-color: #dedede;
  border: #aeaeae solid 1px;
  font-style: italic;
}

code {
  color: #abc2c0;
  background-color: #263238;
  border: #314448 solid 1px;
}
