/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

blockquote {
  background-color: #dedede;
  border: #aeaeae solid 1px;
  padding: 10px;
  border-radius:10px;
  font-style: italic;
  margin: 10px;
}
